{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
      <input type="file" name="miArchivo">
      <button type="submit">Upload</button>
    {% endif %}
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    <br>
  {% endif %}
  <br>
  <p>Respuesta de la RNA
    <a href="{{ encontrado }}">{{ encontrado }}</a>
    <a href="{{ ubicaciones }}">{{ ubicaciones }}</a>
    <a href="{{ precision }}">{{ precision }}</a>
  </p>

  <p><a href="{% url 'home' %}">Inicio</a></p>
{% endblock %}