
{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Te hemos enviado las instrucciones por email para configurar tu password.
		    Si el email que ingresaste existe, deberías recibirlo pronto.
		  </p>
		  <p class="m-auto p-2">
		    Si no recibes el email, asegurate de estar usando una dirección válida y chequear la carpeta de Spam.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
	</div>
</div>

{% endblock %}