appdirs==1.4.4
asgiref==3.6.0
astunparse==1.6.3
async-generator==1.10
attrs==22.2.0
awscli==1.27.141
azure-core==1.26.4
azure-identity==1.13.0
azure-storage-blob==12.16.0
beautifulsoup4==4.11.1
blinker==1.4
boto3==1.26.141
botocore==1.29.141
brotlipy==0.7.0
bs4==0.0.1
charset-normalizer==2.1.1
cssselect==1.2.0
Django==4.2.1
docker==6.1.2
docutils==0.16
exceptiongroup==1.1.0
fake-useragent==1.1.1
Flask==2.0.2
fonttools==4.25.0
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
importlib-metadata==6.0.0
isodate==0.6.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
Jinja2==3.1.2
jmespath==1.0.1
keyring==8.7
keyrings.alt==4.2.0
lxml==4.9.2
mechanize==0.4.8
mkl-fft==1.3.1
mkl-service==2.4.0
more-itertools==9.1.0
msal==1.22.0
msal-extensions==1.0.0
munkres==1.1.4
outcome==1.2.0
parse==1.19.0
patsy==0.5.2
Pillow==9.4.0
ply==3.11
portalocker==2.7.0
protobuf==3.20.3
pyasn1-modules==0.2.8
pyee==8.2.2
pygpu==0.7.6
pyppeteer==1.0.2
PyQt5==5.15.7
pyquery==2.0.0
pywin32==306
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests-html==0.10.0
requests-oauthlib==1.3.0
ruamel.yaml==0.17.28
ruamel.yaml.clib==0.2.7
s3transfer==0.6.1
selenium==4.7.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.4
statsmodels==0.13.2
tabulate==0.9.0
tensorflow==2.10.0
Theano==1.0.5
tqdm==4.64.1
trio==0.22.0
trio-websocket==0.9.2
tzdata==2023.3
voluptuous==0.13.1
w3lib==2.1.1
webencodings==0.5.1
websocket-client==1.5.2
websockets==10.4
wincertstore==0.2
wsproto==1.2.0
yolo==0.3.1
zipp==3.11.0
